.nav {
  position: sticky;
  top: 0;
  z-index: 10;
  padding: 10px;
  color: #fff;
  background-color: #222;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.logo {
  font-size: clamp(2rem, 6vw, 4rem);
  font-weight: 700;
  text-align: center;
}
