.gallery {
    display: grid;
    grid-template-columns: repeat(9, 1fr);
    grid-gap: 20px;
    padding: 20px;
    background-color: #1a1a1a;
}

.logo-item {
    position: relative;
    background-color: #808080;
    border-radius: 8px;
    overflow: hidden;
}

.logo-image {
    width: 100%;
    height: auto;
}

.logo-frame {
    position: absolute;
    top: -5px;
    left: -5px;
    right: -5px;
    bottom: -5px;
    border: 2px solid #fff;
    border-radius: 10px;
    opacity: 0;
    transition: opacity 0.3s ease;
}

.logo-item:hover {
    border-radius: 8px 8px 0 0;
}

.logo-item:hover .logo-frame {
    opacity: 1;
}

.logo-name {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    padding: 8px 0;
    background-color: #1A1A1A;
    color: #fff;
    font-size: 14px;
    font-weight: bold;
    opacity: 0;
    transition: opacity 0.3s ease;
}

.logo-item:hover .logo-name {
    opacity: 1;
}






@media (max-width: 768px) {
    .gallery {
        grid-template-columns: repeat(3, 1fr);
    }
}