.aboutSection {
  display: flex;
  align-items: center;
  justify-content: center;
  max-width: 1440px;
  margin: 0 10%;
  padding: 50px;
  color: #fff;
}

.aboutText {
  margin-right: 10%;
  text-align: initial;
}

.aboutText h2 {
  margin-bottom: 10px;
  font-size: 3rem;
  font-weight: 700;
}

.aboutText p {
  margin-bottom: 20px;
  font-size: 1.5rem;
}

.aboutPhoto img {
  max-width: 250px;
  border-radius: 50%;
  box-shadow: 0 0 10px rgb(0, 0, 0);
}

@media (max-width: 1099px) {
  .aboutSection {
    flex-direction: column-reverse;
    padding: 50px 0;
  }

  .aboutText {
    margin-right: 0;
    margin-bottom: 20px;
    text-align: center;
  }

  .aboutPhoto img {
    margin-top: 20px;
  }
}
